appdirs
asgiref
audioread
certifi
cffi
charset-normalizer
decorator
Django
idna
joblib
librosa
llvmlite
numba
numpy
packaging
pandas
pooch
pycparser
pyparsing
python-dateutil
python-dotenv
pytz
requests
resampy
scikit-learn
scipy
six
SoundFile
sqlparse
threadpoolctl
typing_extensions
urllib3
librosa
